<div class="ingredients-ctn">
  <h2 class="h2">{{ section.settings['section-heading'] }}</h2>
  <p>{{ section.settings['section-desc'] }}</p>

  <div class="ingredients-ctn-inner">
    <div class="ingredients-left-img">
      <img src="{{ section.settings.product-img | image_url }}" alt="" srcset="">
    </div>
    <div class="tabs">
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="./ginger.svg" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">Maca root</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          To help boost your mood and stamina, while enhancing memory and focus. So you can energize and think better,
          while keeping things in balance.
        </p>
      </div>

      <!-- tab2 -->
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="./ginger.svg" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">Maca root</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          To help boost your mood and stamina, while enhancing memory and focus. So you can energize and think better,
          while keeping things in balance.
        </p>
      </div>
      <!-- tab3 -->

      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="./ginger.svg" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">Maca root</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          To help boost your mood and stamina, while enhancing memory and focus. So you can energize and think better,
          while keeping things in balance.
        </p>
      </div>

      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="./ginger.svg" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">Maca root</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          To help boost your mood and stamina, while enhancing memory and focus. So you can energize and think better,
          while keeping things in balance.
        </p>
      </div>
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="./ginger.svg" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">Maca root</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          To help boost your mood and stamina, while enhancing memory and focus. So you can energize and think better,
          while keeping things in balance.
        </p>
      </div>
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="./ginger.svg" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">Maca root</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          To help boost your mood and stamina, while enhancing memory and focus. So you can energize and think better,
          while keeping things in balance.
        </p>
      </div>
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="./ginger.svg" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">Maca root</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          To help boost your mood and stamina, while enhancing memory and focus. So you can energize and think better,
          while keeping things in balance.
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Ingredients Tabs",
  "settings": [
    {
      "type":"text",
      "label":"Section Heading",
      "id":"section-heading"
    },
    {
      "type":"text",
      "label":"Description",
      "id":"section-desc"
    },
      {
        "type":"image_picker",
        "label":"Product Image",
        "id":"product-img"
      }
  ],
  "presets":[

    {
      "name":"Ingredients Tabs"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
