<div class="ingredients-ctn">
  <h2 class="h2">Only ingredients you can pronounce</h2>
  <p>Our vision is to create the world’s smartest coffee brand for the next generation</p>

  <div class="ingredients-ctn-inner">
    <div class="ingredients-left-img">
      <img src="./veg.png" alt="" srcset="">
    </div>
    <div class="tabs">
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="./ginger.svg" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">Maca root</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          To help boost your mood and stamina, while enhancing memory and focus. So you can energize and think better,
          while keeping things in balance.
        </p>
      </div>

      <!-- tab2 -->
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="./ginger.svg" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">Maca root</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          To help boost your mood and stamina, while enhancing memory and focus. So you can energize and think better,
          while keeping things in balance.
        </p>
      </div>
      <!-- tab3 -->

      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="./ginger.svg" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">Maca root</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          To help boost your mood and stamina, while enhancing memory and focus. So you can energize and think better,
          while keeping things in balance.
        </p>
      </div>

      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="./ginger.svg" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">Maca root</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          To help boost your mood and stamina, while enhancing memory and focus. So you can energize and think better,
          while keeping things in balance.
        </p>
      </div>
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="./ginger.svg" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">Maca root</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          To help boost your mood and stamina, while enhancing memory and focus. So you can energize and think better,
          while keeping things in balance.
        </p>
      </div>
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="./ginger.svg" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">Maca root</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          To help boost your mood and stamina, while enhancing memory and focus. So you can energize and think better,
          while keeping things in balance.
        </p>
      </div>
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="./ginger.svg" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">Maca root</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          To help boost your mood and stamina, while enhancing memory and focus. So you can energize and think better,
          while keeping things in balance.
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
