<div class="bitterness-and-acid-ctn">
        <h1 class="h1" id="heading">test</h1>
        <div class="bitterness-and-acid-ctn-inner section-width">
            <div class="logo"> <button id`="button1"><img src="{{ section.settings.logo1 | image_url }}" alt="" srcset=""></button></div>
            <div class="logo"> <button id="button2"> <img src="{{ section.settings.logo2 | image_url }}" alt="" srcset=""> </button></div>
            <div class="logo"> <button id="button3"> <img src="{{ section.settings.logo3 | image_url}}" alt="" srcset=""> </button></div>
            <div class="logo"> <button id="button4"> <img src="{{ section.settings.logo4 | image_url }}" alt="" srcset=""></button></div>
        </div>
    </div>




{% schema %}
  {
    "name": "No Bitterness",
    "settings": [

      {
        "type":"text",
        "label":"Section Heading",
        "id":"section-heading"
        
      },
      {
        "type":"image_picker",
        "label":"Logo 1",
        "id":"logo1"
      },
       {
        "type":"image_picker",
        "label":"Logo 2",
        "id":"logo2"
      },
       {
        "type":"image_picker",
        "label":"Logo 3",
        "id":"logo3"
      },
       {
        "type":"image_picker",
        "label":"Logo 4",
        "id":"logo4"
      }
    ],
    "presets":[
      {
        "name":"No Bitterness"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}