<div class="our-dm-section-ctn">
  <h2 class="h2">Slide into our DM’s</h2>

  <div class="our-dm-section-ctn-inner section-width">
    <div class="row1-col1">
      <h4 class="h4">Best coffee</h4>
      <p>
        We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love about
        coffee, and none of the things you don’t.
      </p>
      <div class="profile-title">
        <div class="title">
          <p>Sara Svalberg</p>
        </div>
        <div class="profile"><img src="./user-image.svg" alt="" srcset=""></div>
      </div>
    </div>

    <div class="row1-col2">
      <h4 class="h4">I love mode cold brew...</h4>
      <p>
        We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love about
        coffee, and none of the things you don’t. We brew our premium, organic beans for 16 hours in cold filtered water
        to extract all the things you love about coffee. We brew our premium, organic beans for 16 hours in cold
        filtered water to extract all the things you love about coffee. We brew our premium, organic beans for 16 hours
        in cold filtered water to extract.
      </p>
      <div class="profile-title">
        <div class="title">
          <p>Sara Svalberg</p>
        </div>
        <div class="profile"><img src="./user-image.svg" alt="" srcset=""></div>
      </div>
    </div>

    <div class="row1-col3"></div>
    <!-- row 2 -->
    <div class="row2-col1"></div>

    <div class="row2-col2"></div>

    <div class="row2-col3">
      <h4 class="h4">Best coffee</h4>
      <p>
        We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love about
        coffee, and none of the things you don’t.
      </p>
      <div class="profile-title">
        <div class="title">
          <p>Sara Svalberg</p>
        </div>
        <div class="profile"><img src="./user-image.svg" alt="" srcset=""></div>
      </div>
    </div>

    <!-- row3 -->
    <div class="row3-col1">
      <h4 class="h4">Best coffee</h4>
      <p>
        We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love about
        coffee, and none of the things you don’t.
      </p>
      <div class="profile-title">
        <div class="title">
          <p>Sara Svalberg</p>
        </div>
        <div class="profile"><img src="./user-image.svg" alt="" srcset=""></div>
      </div>
    </div>
    <div class="row3-col2">
      <!-- row3 col2 -->
    </div>

    <div class="row3-col3">
      <h4 class="h4">Best coffee</h4>
      <p>
        We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love about
        coffee, and none of the things you don’t.
      </p>
      <div class="profile-title">
        <div class="title">
          <p>Sara Svalberg</p>
        </div>
        <div class="profile"><img src="./user-image.svg" alt="" srcset=""></div>
      </div>
    </div>
  </div>



  <div class="slider-swiper">
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
    
        <div class="row1-col1">
          <h4 class="h4">Best coffee</h4>
          <p>
            We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love about
            coffee, and none of the things you don’t.
          </p>
          <div class="profile-title">
            <div class="title">
              <p>Sara Svalberg</p>
            </div>
            <div class="profile"><img src="./user-image.svg" alt="" srcset=""></div>
          </div>
        </div>
    
        </div>
        <div class="swiper-slide">
          <div class="row1-col2">
            <h4 class="h4">I love mode cold brew...</h4>
            <p>
              We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love about
              coffee, and none of the things you don’t. We brew our premium, organic beans for 16 hours in cold filtered water
              to extract all the things you love about coffee. We brew our premium, organic beans for 16 hours in cold
              filtered water to extract all the things you love about coffee. We brew our premium, organic beans for 16 hours
              in cold filtered water to extract.
            </p>
            <div class="profile-title">
              <div class="title">
                <p>Sara Svalberg</p>
              </div>
              <div class="profile"><img src="./user-image.svg" alt="" srcset=""></div>
            </div>
          </div>
      
    
    
        </div>
        <div class="swiper-slide">
    
        <div class="row2-col3">
          <h4 class="h4">Best coffee</h4>
          <p>
            We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love about
            coffee, and none of the things you don’t.
          </p>
          <div class="profile-title">
            <div class="title">
              <p>Sara Svalberg</p>
            </div>
            <div class="profile"><img src="./user-image.svg" alt="" srcset=""></div>
          </div>
        </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
    </div>
    



</div>





{% schema %}
{
  "name": "Slide into DM's",
  "settings": [

    {
      "type":"text",
      "label":"Section Heading",
      "id":"section-heading"
    }

  ],
  "presets":[
    {
      "name":"Slide into DM's"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
