<div class="our-story-ctn">
  <h2 class="h2">{{ section.settings['section-heading'] }}</h2>

  <div class="our-story-ctn-inner">
    <div class="our-story-info">
      <p>{{ section.settings['section-desc'] }}</p>
    </div>
    <div class="our-story-img">
      <img src="{{ section.settings.our-story-image | image_url }}" alt="" srcset="">
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Our Story",
  "settings": [
    {
      "type":"text",
      "label":"Section Heading",
      "id":"section-heading"
    },
    {
      "type":"text",
      "label":"Section Description",
      "id":"section-desc"
    },
    {
      "type":"image_picker",
      "label":"Our Story Image",
      "id":"our-story-image"
    }



  ],
  "presets":[
    {
      "name":"Our Story"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
