<div class="from-bean-to-brew-hero-section">
  <h1 class="h1">{{ section.settings['section-heading'] }}</h1>
</div>

{% schema %}
  {

"name":"Process Hero Section",
    "settings":[
      {
        "type":"text",
        "label":"section-heading",
        "id":"section-heading"

      }
    ],
    "presets":[
      {
        "name":"Process Hero Section"

      }
    ]

  }
{% endschema %}
