<div class="recipe1-hero-ctn">
  <h1 class="h1">{{ section.settings['section-heading'] }}</h1>
</div>

{% schema %}
{
  "name": "Recipes Hero Section",
  "settings": [

    {
      "type":"text",
      "label":"Section Heading",
      "id":"section-heading"
    }
  ],
  "presets":[
    {
      "name":"Recipes Hero Section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
