<div class="sub-and-save-hero">
  <h1 class="h1">{{ section.settings['section-heading'] }}</h1>
</div>

<!-- services -->

<div class="services-ctn">
  <div class="services-ctn-inner section-width">
    <div class="service">
      <div class="services-icon">
        <img src="./setting.png" alt="" srcset="">
      </div>
      <div class="service-desc">
        <p>Save 20% on every order</p>
      </div>
    </div>

    <div class="service">
      <div class="services-icon">
        <img src="./clock.png" alt="" srcset="">
      </div>
      <div class="service-desc">
        <p>Pause or cancel anytime</p>
      </div>
    </div>

    <div class="service">
      <div class="services-icon">
        <img src="./usb.png" alt="" srcset="">
      </div>
      <div class="service-desc">
        <p>Free mason jar kit</p>
      </div>
    </div>

    <div class="service">
      <div class="services-icon">
        <img src="./van.png" alt="" srcset="">
      </div>
      <div class="service-desc">
        <p>Free home delivery</p>
      </div>
    </div>
  </div>
</div>

<!-- subscribe and save -->
<div class="subscribe-and-save-ctn">
  <div class="subscribe-and-save-ctn-inner">
    <div class="left">
      <img src="{{section.settings.product-img | img_url: 'medium'}}" alt="" srcset="">
    </div>

    <div class="right">
      <div class="reviews">
        <img src="./start.png" alt="" srcset="">
        <p>4.8</p>
        <span> (3k+ reviews)</span>
      </div>
      <h2 class="h2">Subscribe & save 20%</h2>
      <div class="how-thirsty">
        <h3 class="h3">How thirsty?</h3>
        <div class="three-button-ctn">
          <button>3 liters</button>
          <button>6 liters</button>
          <button>12 liters</button>
        </div>

        <h3 class="h3">How often?</h3>
        <div class="four-btn-ctn">
          <button>14 days</button>
          <button>21 days</button>
          <button>30 days</button>
          <button>60 days</button>
        </div>
        <div class="start-subs-ctn">
          <button class="start-subs">Start subscription</button>
        </div>
        <p>No risk - Pause, adjust or cancel subscription at anytime</p>
      </div>
    </div>
  </div>
</div>

<!-- why subscribe -->

<div class="why-subscribe-ctn">
  <h1 class="h1">Why subscribe?</h1>

  <div class="why-subscribe-ctn-inner">
    <div class="s1">
      <img src="./percent.png" alt="" srcset="">
      <h3 class="h3">Mason jar kit</h3>
      <p>Included with your first delivery</p>
    </div>

    <div class="s1">
      <img src="./v2.png" alt="" srcset="">
      <h3 class="h3">Save 20%</h3>
      <p>Only 4,95kr/serving</p>
    </div>

    <div class="s1">
      <img src="./usb.png" alt="" srcset="">
      <h3 class="h3">Free shipping</h3>
      <p>Delivery straight to your door</p>
    </div>

    <div class="s1">
      <img src="./clock.png" alt="" srcset="">
      <h3 class="h3">No risk</h3>
      <p>Pause, adjust or cancel anytime</p>
    </div>
  </div>
</div>

<!-- words from subs -->

<div class="words-from-sub-ctn">
  <h1 class="h1">Words from subscribers</h1>

  <div class="ctn-inner">
    <div class="slide">
      <img src="./sub-ims.png" alt="" srcset="">
      <h4>Tony stark</h4>
      <p>@ironMan</p>
      <p class="desc">
        We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love about
        coffee, and none of the things you don’t. Totally stomach friendly and free from bitterness. Just smooth and
        refreshing. Ready to mix when you are.
      </p>
    </div>
  </div>

  <button class="be-the-part">Be part of the fam</button>
</div>

<!-- still got question -->

<div class="still-got-question-ctn">
  <h2 class="h2">Still got questions?</h2>
  <div class="still-got-question-ctn-inner">
    <div class="tab-ctn">
      <button class="collapsible">
        <h3>What is cold brew?</h3>
      </button>
      <div class="content">
        <p>
          We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love
          about coffee, and none of the things you don’t. Totally stomach friendly and free from bitterness. Just smooth
          and refreshing. Ready to mix when you are.
        </p>
      </div>

      <button class="collapsible">
        <h3>Concentrate what??</h3>
      </button>
      <div class="content">
        <p>
          We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love
          about coffee, and none of the things you don’t. Totally stomach friendly and free from bitterness. Just smooth
          and refreshing. Ready to mix when you are.
        </p>
      </div>

      <button class="collapsible">
        <h3>How long does it last?</h3>
      </button>
      <div class="content">
        <p>
          We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love
          about coffee, and none of the things you don’t. Totally stomach friendly and free from bitterness. Just smooth
          and refreshing. Ready to mix when you are.
        </p>
      </div>

      <button class="collapsible">
        <h3>What can I make with it?</h3>
      </button>
      <div class="content">
        <p>
          We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love
          about coffee, and none of the things you don’t. Totally stomach friendly and free from bitterness. Just smooth
          and refreshing. Ready to mix when you are.
        </p>
      </div>

      <button class="collapsible">
        <h3>Stomach friendly?</h3>
      </button>
      <div class="content">
        <p>
          We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love
          about coffee, and none of the things you don’t. Totally stomach friendly and free from bitterness. Just smooth
          and refreshing. Ready to mix when you are.
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Subscribe and Save",
  "settings": [

    {
      "type":"text",
      "label":"Section Heading",
      "id":"section-heading"
    },

    {
      "type":"image_picker",
      "label":"Product Image",
      "id":"product-img"
    }
  ],
  "presets":[
    {
      "name":"Subscribe and Save"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
