<div class="words-from-ceo-ctn">
  <div class="words-from-ceo-ctn-inner">
    <div class="ceo-img">
      <img src="{{ section.settings.ceo | image_url }}" alt="" srcset="">
    </div>
    <div class="ceo-words">
      <h2 class="h2">{{ section.settings.heading }}</h2>
      <p>{{ section.settings.desc }}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Words From CEO",
  "settings": [
    {
      "type":"image_picker",
      "label":"CEO Image",
      "id":"ceo"
    },
    {
      "type":"richtext",
      "label":"Heading",
      "id":"heading"
    },
    {
      "type":"richtext",
      "label":"Description",
      "id":"desc"
    }


  ],
  "presets":[
    {
      "name":"Words From CEO"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
