.expresso-ctn {
  text-align: center;
  background-color: #FFFFF0;
  padding-top: 5rem;
  padding-bottom: 2rem;
  width: 100vw;
}
.expresso-ctn .expresso-ctn-inner {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.expresso-ctn .expresso-ctn-inner .left-img img {
  width: 80%;
}
.expresso-ctn .expresso-ctn-inner .how-to-make-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.expresso-ctn .expresso-ctn-inner .how-to-make-details .top {
  text-align: left;
}
.expresso-ctn .expresso-ctn-inner .how-to-make-details .top .expresso-clock-timer {
  display: flex;
  align-items: center;
}
.expresso-ctn .expresso-ctn-inner .how-to-make-details .top .expresso-clock-timer .clock {
  margin-right: 10px;
}
.expresso-ctn .expresso-ctn-inner .how-to-make-details .top ul {
  list-style: none;
  padding: 0px;
}
.expresso-ctn .expresso-ctn-inner .how-to-make-details .top ul li {
  margin-top: 10px;
  font-family: "MatterMono-reg";
}
.expresso-ctn .expresso-ctn-inner .how-to-make-details .bottom {
  text-align: right;
}
.expresso-ctn .expresso-ctn-inner .how-to-make-details .bottom .social-text {
  text-align: right;
}
.expresso-ctn .expresso-ctn-inner .how-to-make-details .bottom .social-icons img {
  width: 20px;
  z-index: 99;
  margin-right: 20px;
}

.how-to-make-section {
  width: 100vw;
  background-color: #FFFFF0;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.how-to-make-section .h2 {
  text-align: center;
}
.how-to-make-section .inner-section {
  width: 80vw;
  margin: auto;
}
.how-to-make-section .inner-section .how-to-make-list {
  margin-top: 4rem;
}

.you-may-also-like-ctn {
  width: 100vw;
  background-color: #FFFFF0;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.you-may-also-like-ctn .h2 {
  text-align: center;
}
.you-may-also-like-ctn .you-may-also-like-ctn-inner {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.you-may-also-like-ctn .you-may-also-like-ctn-inner .product-like {
  text-align: center;
}
.you-may-also-like-ctn .you-may-also-like-ctn-inner .product-like .h3 {
  font-family: "PPAgrandir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
}
.you-may-also-like-ctn .you-may-also-like-ctn-inner .product-like .clock-time {
  display: flex;
  align-items: center;
  justify-content: center;
}
.you-may-also-like-ctn .you-may-also-like-ctn-inner .product-like .clock-time .clock img {
  margin-right: 10px;
}

