$color_1: white;
$color_2: #fff7de;
$color_3: #000000;
$font_family_1: 'PPAgrandir-WideHeavy';
$font_family_2: "MatterMono-Regular";
$font_family_3: "PPAgrandir-WideHeavy";
$font_family_4: "MatterMonot-bold";
$font_family_5: "PPAgrandir";
$font_family_6: "MatterMono-reg";
$background_color_1: #000000;
$background_color_2: white;
$background_color_3: #fff7de;
$background_color_4: #ffc9e2;
$background_color_5: #03594c;
$background_color_6: black;
$background_color_7: #5a392d;
$background_color_8: transparent;
$background_color_9: beige;
$background_color_10: #65b8c7;
$background_color_11: #ffc9de;

/*our story hero section   */
/*accessories  */
/* single product */
.section-width {
	width: 1250px !important;
	padding-left: 50px;
	padding-right: 50px;
}

.h1 {
	font-family: $font_family_1;
	size: 64px;
	line-height: 68px;
	font-weight: 800;
	word-break: break-word;
}

h1 {
	font-family: $font_family_1;
	size: 64px;
	line-height: 68px;
	font-weight: 800;
	word-break: break-word;
}

.h2 {
	font-size: 36px;
	font-family: $font_family_1;
	line-height: 38px;
	word-break: break-word;
}

h2 {
	font-size: 36px;
	font-family: $font_family_1;
	line-height: 38px;
	word-break: break-word;
}

.h3 {
	font-size: 24px;
	font-family: $font_family_1;
	line-height: 26px;
	word-break: break-word;
}

h3 {
	font-size: 24px;
	font-family: $font_family_1;
	line-height: 26px;
	word-break: break-word;
}

.announcment-ctn {
	background-color: $background_color_1;
	height: 50px;
	width: 100vw;

	.announcment-ctn-inner {
		p {
			color: $color_1;
		}
	}
}

.nav-bar-section {
	background-color: $background_color_2;
	width: 100vw;

	.navbar-section-inner {
		padding: 2rem;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.cart-section {
			.cart-section-inner {
				display: flex;
				justify-content: space-around;
				align-items: center;

				img {
					margin-left: 8px;
				}
			}
		}

		.logo-ctn {
			img {
				width: 100%;
			}
		}
	}
}

// menu setting


#icon {
	width: 30px;
	height: 30px;
	cursor: pointer;
	/* Add some styling for the icon */
}

#menu {
	position: absolute;
	/* Add some more styling for the menu container */
	width: 510px;
	background-color: white;
	transform: translateX(-100%);
	transition: transform 0.5s ease;
	cursor: pointer;
	padding: 4rem;
	height: 100vh !important;
}

#menu {
	width: auto;
	height: 100vh;
	background-color: white;
}

#menu #menu-content {
	background-color: white;
}

#menu #menu-content ul {
	list-style: none;

	li {
		margin-top: 2rem;
		font-size: 26px;

	}

}


#menu.active {
	transform: translateX(0);
}

#close-button {
	position: absolute;
	right: 10px;
	top: 10px;
}

#menu #menu-content ul {
	list-style: none;

	li {
		margin-top: 3rem;
		font-size: 36px;
		line-height: 38px;
		font-family: 'PPAgrandir-WideHeavy';
		text-decoration: none;
		color: black;

	}

}

#menu #menu-content ul li a {
	color: #000000;
	text-decoration: none;
}

#menu #menu-content ul li a:hover {
	color: #FFC9E2;
}

.hero-section {
	background-image: url("./Hero-section.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;

	.hero-section-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 1250px;
		padding-left: 50px;
		padding-right: 50px;

		h1 {
			color: $color_1;
			text-align: center;
			margin: auto;
			font-size: 60px;
		}
	}
}

.sponser-section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: $background_color_3;
	width: 100vw;
	padding-top: 2rem;
	padding-bottom: 2rem;

	.sponser-section-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h2 {
			font-size: 40px;
		}

		.logo-section {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 50vh;
			width: 75vw;

			img {
				width: 100%;
			}
		}
	}
}

.best-seller-ctn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 2rem;
	padding-top: 2rem;
	width: 100vw;

	.best-seller-ctn-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100vw;
		padding-bottom: 4rem;

		.product-ctn {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 2rem;

			.procut1 {
				.prodcuct-img {
					img {
						width: 100%;
					}
				}

				display: flex;
				flex-direction: column;
				justify-content: inherit;

				.product-price-ctn {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
			}
		}
	}
}

.smart-cup-coffee-ctn {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: $background_color_4;
	width: 100vw;
	text-align: center;

	.smart-cup-coffee-ctn-inner {
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: auto;

		h2 {
			width: 60%;
		}

		p {
			width: 85%;
		}

		.coffe-qualities-list1 {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			margin-top: 2rem;

			.quality1 {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				flex: 1;

				img {
					width: 124px;
				}
			}
		}
	}
}

.our-mission-ctn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $background_color_5;
	width: 100vw;
	padding-top: 2rem;
	padding-bottom: 4rem;
	text-align: center;

	.our-mission-ctn-inner {
		h2 {
			color: $color_1;
		}

		.our-mission-intro {
			color: $color_1;
		}

		.our-mission-ctn-inner-section1 {
			display: flex;
			justify-content: space-around;
			align-items: flex-start;
			padding-top: 4rem;

			.our-mission-section1-left-col {
				width: 50%;
			}

			.our-mission-section1-right-col {
				width: 50%;
				text-align: left;

				h3 {
					color: $color_1;
				}

				p {
					color: $color_1;
					text-align: left;
				}

				.our-mission-section-right-col-list {

					.list-item {
						display: flex;
						align-items: center;

						img {
							margin-right: 2rem;
						}
					}
				}
			}
		}

		.our-mission-ctn-inner-section2 {
			display: flex;
			justify-content: space-around;
			align-items: flex-start;
			padding-top: 6rem;

			.our-mission-section1-left-col {
				width: 50%;
			}

			.our-mission-section1-right-col {
				width: 50%;
				text-align: left;

				h3 {
					color: $color_1;
				}

				p {
					color: $color_1;
					text-align: left;
				}

				.our-mission-section-right-col-list {
					.list-item {
						display: flex;
						align-items: center;

						img {
							margin-right: 2rem;
						}
					}
				}
			}
		}
	}
}

.coffee-smarter-ctn {
	background-color: $background_color_6;
	padding-top: 2rem;
	padding-bottom: 2rem;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.coffee-smarter-ctn-inner {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		h2 {
			color: $color_1;
		}

		.coffee-desc {
			color: $color_1;
		}

		table {
			border-collapse: separate;
			border-spacing: 0 30px;

			tr {
				td {
					&:nth-child(1) {
						border-top-left-radius: 50px;
						border-bottom-left-radius: 50px;
					}

					&:nth-last-child(1) {
						border-top-right-radius: 50px;
						border-bottom-right-radius: 50px;
					}
				}
			}
		}
	}
}

table {
	&:not([class]) {
		td {
			padding: 0px !important;
			border: none !important;
		}

		th {
			padding: 0px !important;
			border: none !important;
		}
	}
}

.table {
	tr {
		td {
			p {
				font-size: 13px;
			}
		}
	}
}

.what-other-says-ctn {
	width: 100vw;
	background: url("./what-other-says-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;

	h2 {
		color: $color_1;
	}

	.what-other-says-ctn-inner {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: auto;
		padding-top: 2rem;
		padding-bottom: 2rem;

		.what-other-say-left {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			p {
				text-align: left;
			}

			.comment-writer {
				margin-top: 3rem;
			}

			.verified {
				padding: 0;
				margin-top: -1rem;
			}

			.testimonials {
				width: 370px;
				height: max-content;
				border-radius: 16px;
				background-color: $background_color_2;
				padding: 3rem;
				text-align: left;
			}
		}

		.what-other-say-right {
			img {
				width: 100%;
			}
		}
	}
}

.figure-your-mode-ctn {
	width: 100vw;
	background-color: $background_color_3;
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	text-align: center;

	.figure-your-mode-ctn-inner {
		.fig-your-mode-video {
			margin-top: 6rem;
			margin-bottom: 2rem;
			text-align: center;

			img {
				width: 100%;
			}
		}
	}
}

.our-story-ctn {
	background-color: $background_color_5;
	padding-top: 4rem;
	padding-bottom: 3rem;
	width: 100vw;
	text-align: center;

	h2 {
		color: $color_1;
	}

	.our-story-ctn-inner {
		margin: auto;
		display: grid;
		grid-template-columns: 40% 60%;
		padding-top: 3rem;
		grid-gap: 3rem;

		.our-story-info {
			background-color: $background_color_3;

			height: 510px;
			border-radius: 30px;
			padding: 3rem;

			p {
				text-align: left;
			}
		}

		.our-story-img {
			img {
				width: 97%;
			}
		}
	}
}

.get-inspired-ctn {
	background-color: $background_color_7;
	padding-top: 2rem;
	padding-bottom: 6rem;
	width: 100vw;
	text-align: center;

	h2 {
		color: $color_2;
	}

	p {
		color: $color_2;
	}

	.get-inspired-ctn-inner {
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 5rem;

		.racepes1 {
			display: flex;
			flex-direction: column;
			justify-content: center;

			img {
				width: 90%;
			}

			h4 {
				text-align: left;
				color: $color_1;
			}

			p {
				text-align: left;
			}
		}
	}
}

.better-func-world-ctn {
	background-color: $background_color_1;
	padding-top: 3rem;
	padding-bottom: 6rem;
	width: 100vw;

	.better-func-world-ctn-inner {
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;

		h2 {
			color: $color_2;
		}

		p {
			color: $color_2;
		}

		img {
			margin-top: 5rem;
		}
	}
}

.tiktok-section-ctn {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 6rem;
	width: 100vw;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 6rem;
	width: 100vw;

	.modecoldbrew {
		margin-top: -2rem;
		margin-top: -2rem;
	}

	.tiktok-section-ctn-inner {
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding-top: 2rem;
		margin: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		padding-top: 2rem;

		.tik1 {
			img {
				width: 100%;
			}
		}

		.tik2 {
			img {
				width: 100%;
			}
		}

		.tik3 {
			img {
				width: 100%;
			}
		}
	}
}

.footer-section {
	background-color: #03594C;
	width: 100vw;
	padding-top: 2rem;
	padding-bottom: 2rem;
	// height: 100vh;

	.footer-section-inner {
		width: 90vw;
		margin: auto;



		.footer-row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;

			.footer-col1 {
				display: flex;
				flex-direction: column;
				justify-content: space-between;


				.copyright-sec1 {



					#language {
						color: beige;
						background: transparent;
						font-size: 16px;
						border: none;
						width: 70px;

					}

					#currency {
						color: beige;
						background: transparent;
						font-size: 16px;
						border: none;
						width: 70px;

					}



				}



				h4 {
					color: beige;
				}

				ul {
					list-style: none;
					padding: 0px;

					li {
						color: beige;
						margin-top: 1rem;
						font-family: 'MatterMono-Regular';


					}
				}
			}

			.footer-col2 {
				display: flex;
				flex-direction: column;
				justify-content: space-between;



				.copyright-sec2 {
					text-align: left;
					padding-top: 2rem;


					p {
						color: beige;
						text-align: left;

					}
				}

				h4 {
					color: beige;
				}

				ul {
					list-style: none;
					padding: 0px;

					li {
						color: beige;
						margin-top: 1rem;
						font-family: 'MatterMono-Regular';


					}
				}
			}

			.footer-col3 {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.copyright-sec3 {
					text-align: right;

					.copyright-sec2-join-us {
						display: none;
					}

					img {
						margin-right: 12px;
					}
				}

				h4 {
					color: beige;

				}

				p {
					color: beige;
					text-align: left;
				}

				input {
					padding: 1.5rem;
					border-radius: 30px;
					border: 1px solid beige;
					background-color: transparent;
					color: beige;
					width: 90%;
					margin-top: 1rem;
				}

				input::placeholder {
					color: beige;
					font-family: 'MatterMono-Regular';

				}



			}
		}


	}

}

.ourstory-hero-section {
	background: url("./our-story-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 80vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100vw;

	h2 {
		color: $color_1;
	}
}

.two-column-row {
	background-color: $background_color_9;
	width: 100vw;

	.two-column-row-heading {
		font-style: normal;
		font-weight: 800;
		font-size: 32px;
		line-height: 40px;
		font-family: $font_family_5;
		text-align: center;
		width: 80%;
		margin: auto;
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.two-column-row-inner {
		display: -ms-grid;

		width: 100%;

		.row1 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;

			.row1-col1 {
				img {
					width: 100%;
				}


			}

			.row1-col2 {
				p {
					line-height: 44px;
					padding-left: 5rem;
					padding-right: 5rem;
				}

			}
		}

		.row2 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;


			.row2-col1 {
				p {
					line-height: 44px;
					padding-left: 5rem;
					padding-right: 5rem;
				}

			}

			.row2-col2 {
				img {
					width: 100%;
				}
			}
		}

		.row3 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;


			.row3-col1 {
				img {
					width: 100%;
				}
			}

			.row3-col2 {
				p {
					line-height: 44px;
					padding-left: 5rem;
					padding-right: 5rem;

				}
			}
		}


		.row4 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;

			.row4-col1 {
				p {
					line-height: 44px !important;
					padding-left: 5rem !important;
					padding-right: 5rem !important;

				}
			}

			.row4-col2 {
				img {
					width: 100%;
				}
			}
		}

		.row5 {

			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;

			.row5-col1 {
				img {
					width: 100%;
				}
			}

			.row5-col2 {
				p {
					line-height: 44px;
					padding-left: 5rem;
					padding-right: 5rem;

				}
			}
		}
	}
}

.we-believe-ctn {
	background-color: $background_color_3;
	width: 100vw;
	padding-top: 6rem;
	padding-bottom: 6rem;
	text-align: center;

	p {
		width: 70%;
		margin: auto;
	}

	.we-believe-ctn-inner {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 4rem;
		margin: auto;
		margin-top: 8rem;

		.wellbeing {
			.Well {
				font-family: $font_family_5;
				font-style: normal;
				font-weight: 800;
				font-size: 16px;
				line-height: 28px;
				margin-bottom: 3rem;
				margin-top: 1rem;
			}
		}

		.balance {
			.bal {
				font-family: $font_family_5;
				font-style: normal;
				font-weight: 800;
				font-size: 16px;
				line-height: 28px;
				margin-bottom: 3rem;
				margin-top: 1rem;
			}
		}

		.find-our-mode {
			.find-mode {
				font-family: $font_family_5;
				font-style: normal;
				font-weight: 800;
				font-size: 16px;
				line-height: 28px;
				margin-bottom: 3rem;
				margin-top: 1rem;
			}
		}
	}
}

.words-from-ceo-ctn {
	background-color: $background_color_10;
	padding-top: 5rem;
	padding-bottom: 5rem;
	width: 100vw;

	.words-from-ceo-ctn-inner {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		margin: auto;
		grid-gap: 3rem;

		.ceo-words {
			margin-top: 6rem;

			p {
				width: 80%;
			}
		}
	}
}

.our-mode-fam-ctn {
	background-color: $background_color_11;
	padding-top: 5rem;
	padding-bottom: 5rem;
	width: 100vw;

	.our-mode-fam-ctn-inner {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		margin: auto;

		.our-mode-fam-left {
			text-align: center;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
	}
}

.accessories-hero-section {
	width: 1250px;
	padding: 0px;

	img {
		width: auto;
	}
}

.accessories-product-ctn {
	width: 100vw;
	text-align: center;
	padding-top: 3rem;

	.h1 {
		font-size: 64px;
	}

	.accessories-product-ctn-inner {
		padding-top: 2rem;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 3rem;
		padding-bottom: 3rem;
		row-gap: 10rem;
		padding-bottom: 16rem;

		.accessories-single-product-ctn {
			.accessories-product-img {
				img {
					width: 100%;
				}
			}

			.title-price {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.title {
					.h3 {
						font-size: 18px !important;
						line-height: 19px;
						font-family: 'PPAgrandir-WideHeavy' !important;

					}
				}
			}
		}
	}
}

.single-product-desc-ctn {
	width: 100vw;
	padding-top: 3rem;
	padding-bottom: 3rem;

	.single-product-desc-ctn-inner {
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;

		.single-product-img {
			img {
				width: 90%;
			}
		}

		.single-product-desc {
			padding-right: 7rem;
		}
	}
}

.view-more-ctn {
	width: 100vw;
	padding-bottom: 3rem;

	.view-more-ctn-inner {
		margin: auto;

		.prodcuts-ctn {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 2rem;

			.product {
				.product-img {
					img {
						width: 100%;
					}
				}
			}

			.price-title {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.heading {
					p {
						font-family: $font_family_5;
						font-style: normal;
						font-weight: 800;
						font-size: 18px;
					}
				}
			}
		}
	}
}


@media only screen and (max-width:600px) {
	.h1 {
		font-family: "PPAgrandir";
		size: 36px;
		line-height: 38px;
		font-weight: 800;
	}

	.h2 {
		font-size: 24px;
		text-align: center;
		font-family: 'PPAgrandir';
		line-height: 38px;
	}

	.h3 {
		font-size: 24px;
		font-family: 'PPAgrandir';
		line-height: 26px;
	}

	p {
		text-align: center;
		font-family: "MatterMono-reg";
		font-size: 16px;
		line-height: 20px;

	}

	.body-copy-bold {
		font-family: "MatterMonot-bold";
		font-weight: 700;
		font-size: 18px;
		color: #000000;

	}

	.h4 {
		font-size: 18px;
		line-height: 19px;
	}

	.h6 {
		font-size: 14px;
		line-height: 18px;
	}

	.button-text-mob {
		font-size: 14px;
		line-height: 18px;
	}

	.nav-bar-section {
		width: 100vw;

		.navbar-section-inner {
			padding-top: 2rem;
			padding-bottom: 2rem;

			text-align: center;
			width: 85vw;

			.logo-ctn {
				img {
					width: 100%;
				}
			}

			.cart-section {
				.cart-section-inner {
					display: flex;
					justify-content: space-around;
					align-items: center;

					img:nth-child(2) {
						display: none;
					}

					img:nth-child(1) {
						display: none;
					}
				}
			}


		}

	}



	// Announcment


	.announcment-ctn {
		width: 100%;

		.announcment-ctn-inner {
			p {
				color: white;
			}

		}
	}

	// hero section


	.hero-section {
		background-image: url("./Hero-section.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: max-content;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		padding-top: 8rem;
		padding-bottom: 8rem;

		.hero-section-inner {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 90%;

			h1 {
				color: white;
				text-align: center;
				margin: auto;
				font-size: 30px;
				line-height: 38px;
			}

			.hero-button {
				padding: 15px 22px 16px 22px;
				font-size: 14px;
				line-height: 18px;
				margin-top: 1rem;
				height: 50px;
			}
		}
	}



	// sponser section
	.sponser-section {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		background-color: #FFF7DE;
		width: 100vw;
		padding-top: 2rem;
		padding-bottom: 2rem;

		.sponser-section-inner {

			h2 {
				font-size: 18px;
			}

			.logo-section {

				height: 20vh;


				img {
					width: 80%;
				}
			}
		}
	}


	// Best Seller section
	.best-seller-ctn {

		padding-bottom: 2rem;
		padding-top: 2rem;
		width: 100vw;

		.best-seller-ctn-inner {

			padding-bottom: 0rem;
			padding-left: 1rem;
			padding-right: 1rem;

			.product-ctn {
				display: grid;
				grid-template-columns: auto auto;
				width: 100vw;
				grid-gap: 10px;
				margin-top: 2rem;
				padding-top: 0px;

				.procut1 {
					.prodcuct-img {
						img {
							width: 100%;
						}
					}

					.product-price-ctn {
						display: flex;
						align-items: center;
						flex-direction: column;

						.product-title {
							h4 {
								font-size: 14px;
								text-align: left;
							}
						}

						.product-price {
							p {
								font-size: 14px;
								text-align: left;

							}

						}





					}

					.add-to-cart--btn-black {
						font-size: 14px;
						line-height: 18px;
						height: 60px;
						padding: 15px 22px;
					}
				}
			}

			h2 {
				font-size: 18px;
			}
		}
	}


	// smart-cup-coffee-section
	.smart-cup-coffee-ctn {
		.smart-cup-coffee-ctn-inner {
			width: 90vw;



			h2 {
				font-size: 24px;
				line-height: 26px;
				width: 100%;
			}

			p {
				width: 100%;
			}

			.coffe-qualities-list1 {
				display: grid;
				grid-template-columns: auto auto;
				align-items: center;
				width: 90vw;
				margin-top: 2rem;

				.quality1 {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					flex: 1;

					img {
						width: 90px;
					}

					.coffee-title {
						font-size: 18px;
						line-height: 19px;
					}

					p {
						font-size: 16px;
					}
				}
			}

			.get-started-btn-black {
				font-size: 14px;
				line-height: 18px;
				height: 60px;
				padding: 15px 22px;
				border: none;

			}
		}
	}

	// Our mission
	.our-mission-ctn {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #03594C;
		width: 100vw;
		padding-top: 2rem;
		padding-bottom: 4rem;

		.our-mission-ctn-inner {
			width: 90vw;

			h2 {
				font-size: 18px;
			}

			.our-mission-intro {
				font-size: 16px;
				line-height: 20px;
			}

			.our-mission-ctn-inner-section1 {
				display: grid;
				grid-template-columns: auto;
				padding-top: 4rem;

				.our-mission-section1-left-col {
					width: 100%;

					img {
						width: 100%;
					}
				}

				.our-mission-section1-right-col {
					width: 100%;
					text-align: center;

					img {
						width: 100%;
					}

					h3 {
						color: white;
						font-size: 18px;
						line-height: 19px;
						text-align: center;


					}

					p {
						color: white;
						text-align: center;
						font-size: 16px;
						line-height: 19px;
					}

					.our-mission-section-right-col-list {

						display: grid;
						grid-template-columns: 1fr 1fr;

						.list-item {
							display: flex;
							align-items: center;
							flex-direction: column;


							img {
								width: 92px;

							}
						}

					}

					.shop-now {
						font-size: 14px;
						line-height: 18px;
						padding: 15px 22px;
						border: none;
					}
				}
			}



			.our-mission-ctn-inner-section2 {
				display: flex;
				flex-direction: column-reverse;

				padding-top: 4rem;
				grid-auto-flow: dense;


				.our-mission-section1-left-col {
					width: 100%;


					img {
						width: 100%;
					}



				}

				.our-mission-section1-right-col {
					width: 100%;
					text-align: center;


					img {
						width: 100%;
					}

					h3 {
						color: white;
						font-size: 18px;
						line-height: 19px;
					}

					p {
						color: white;
						text-align: center;
						font-size: 16px;
						line-height: 19px;
					}

					.our-mission-section-right-col-list {
						display: grid;
						grid-template-columns: 1fr 1fr;

						.list-item {
							display: flex;
							align-items: center;
							flex-direction: column;


							img {
								width: 92px;

							}

							p {
								text-align: center;
							}
						}
					}

					.shop-now {
						font-size: 14px;
						line-height: 18px;
						padding: 15px 22px;
						border: none;
					}
				}
			}


		}
	}

	.section-width {
		width: 100% !important;
		padding-left: 20px;
		padding-right: 20px;
	}

	// smart coffee inner

	.coffee-smarter-ctn {


		.coffee-smarter-ctn-inner {
			padding: 0px !important;
		}
	}

	table {
		tbody {
			tr {
				td {
					.body-copy-bold {
						font-size: 13px !important;
					}

					img {
						width: 18px;
					}
				}
			}
		}
	}

	// what other says
	.what-other-says-ctn {
		.what-other-says-ctn-inner {
			flex-direction: column-reverse;

			.what-other-say-left {
				.testimonials {
					width: 100%;
					margin-top: -3rem;
					border-top-right-radius: 0px;
					border-top-left-radius: 0px;
				}



			}
		}
	}

	// our story

	.our-story-ctn {
		.our-story-ctn-inner {
			grid-template-columns: 1fr;
			padding-top: 0rem;

			.our-story-info {
				height: auto;
				background: none;
				padding: 0px;

				p {
					color: white;
					text-align: center;
				}
			}

		}
	}

	// get inspired

	.get-inspired-ctn {
		.get-inspired-ctn-inner {

			.racepes1 {
				h4 {
					color: #FFF7DE;
				}

				p {
					margin-top: -1rem;
				}
			}

			display: grid;
			grid-template-columns: 1fr 1fr;
			row-gap:2rem;
		}

	}

	// better func world

	.better-func-world-ctn {

		.better-func-world-ctn-inner {
			img {
				width: 100%;
			}
		}
	}
}


// swiper css


.swiper {
	width: 100%;
	height: max-content;
}

.swiper-button-prev,
.swiper-button-next {
	color: #FFF7DE;
	font-size: 10px !important;
}


.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: 700px
}


.swiper-button-next,
.swiper-rtl .swiper-button-prev {

	right: 100px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
	color: beige;
	font-size: 30px !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	font-size: 30px !important;
	color: beige;
}


.slider-swiper {
	display: none;
}

// Boost mob responsivenesss


@media (max-width:600px) {


	.slider-swiper {
		display: block;
	}

	.swiper-slide {
		background-color: white;
		border-radius: 30px;
		width: 100vw !important;
		padding: 2rem;
	}

	.swiper-pagination-bullet {
		background: gray;
	  }
	  
	  .swiper-pagination-bullet-active {
		background: white;
	  }
	  

	.product-ctn {
		width: 100vw;

		.product-ctn-inner {
			display: grid;
			grid-template-columns: 1fr;

			.product-img-ctn {
				img {
					width: 100%;
				}
			}

			.product-details-ctn {
				.reviws-and-price {
					.reviews {
						.stars {
							img {
								width: 16px;
							}
						}

						.reviews-count {
							p {
								font-size: 16px;
							}
						}
					}

					.price {
						p {
							font-size: 16px;
						}
					}
				}

				.product-tit {
					.h2 {
						font-size: 24px;
						line-height: 25px;
					}

				}

				.product-desc {
					p {
						font-size: 16px;
						text-align: left;
					}
				}

				.what-mode {
					.h3 {
						font-size: 18px;
						line-height: 18px;
					}
				}

				.how-much {
					.h3 {
						font-size: 18px;
						line-height: 18px;
					}
				}

				.two-button-ctn {
					.button1 {
						.white-btn {
							font-size: 14px;
							line-height: 18px;
						}
					}
				}

				.feature-list {
					display: none;
				}
			}
		}
	}

	//    our ccustomer

	.our-customers-ctn {
		.h2 {
			font-size: 24px;
			line-height: 25px;
		}

		.our-customer-ctn-inner {
			flex-direction: column;

			.reviews {
				height: auto;
				width: auto;

				.review-comment {
					p {
						text-align: left;
					}

				}

				.name-img {
					.review-writer {
						p {
							text-align: left !important;

						}
					}
				}
			}
		}

	}

	// good vibes section

	.good-vibes-ctn {

		.h2 {
			font-size: 24px;
			line-height: 25px;
		}

		.good-vibes-ctn-inner {
			grid-template-columns: 1fr;


			.two-section-column {
				display: flex;
				flex-direction: column-reverse;

				.section1 {
					.func-benefits {
						text-align: center;
						display: flex;
						flex-direction: column;
						align-items: center;

						.func-desc {
							p {
								text-align: center;
							}
						}
					}

					.cold-brew {
						text-align: center;
						display: flex;
						flex-direction: column;
						align-items: center;
					}
				}

				.section2 {
					margin-top: 0;

					img {
						width: 100%;
					}
				}


			}

			.single-section-column {
				.smooth-taste {
					text-align: center;
					display: flex;
					flex-direction: column;
					align-items: center;
				}

				.natural {
					text-align: center;
					display: flex;
					flex-direction: column;
					align-items: center;
				}

			}
		}



	}

	// ingredients section


	.ingredients-ctn {

		.h2 {
			font-size: 24px;
			line-height: 25px;
		}

		.ingredients-ctn-inner {
			grid-template-columns: 1fr;

			.ingredients-left-img {
				img {
					width: 100%;
				}
			}

			.ing-tabs {
				.ing-tabs-inner {
					.ing-two-section {
						.img-info-section {
							width: 70%;

							.tab-image {
								margin-right: 20px;
							}

							.name-and-weight {
								.h3 {
									font-size: 18px;
									line-height: 18px;
								}
							}
						}
					}
				}
			}
		}
	}


	// bitterness section

	.bitterness-and-acid-ctn {
		padding-top: 6rem;

		.h1 {
			width: 100%;
			font-size: 36px;
			line-height: 38px;
		}

		.bitterness-and-acid-ctn-inner {
			.logo {
				img {
					width: 100%;
				}
			}
		}
	}

	// Community section

	.community-ctn {
		.h2 {
			font-size: 24px;
			line-height: 25px;
		}

		.our-customer-ctn-inner {
			flex-direction: column;

			.reviews {
				height: auto;
				width: auto;

				.review-comment {
					p {
						text-align: left;
					}
				}

				.h4 {
					font-size: 18px;
					line-height: 18px;
				}
			}
		}
	}

	// our dm section

	.our-dm-section-ctn {

		padding: 2rem;



		.h2 {
			font-size: 24px;
			line-height: 25px;
		}

		.our-dm-section-ctn-inner {
			display: none;

			.slider-swiper {

				.swiper {
					.swiper-wrapper {
						.swiper-slide {
							.row1-col1 {
								border-radius: 30px;
								padding: 2rem;
							}
						}
					}
				}
			}
		}
	}


	//    better world

	.better-func-world-ctn {
		padding-top: 2rem;
		padding-bottom: 4rem;

		.better-func-world-ctn-inner {
			.h2 {
				font-size: 24px;
				line-height: 25px;
				width: 100%;
			}

			p {
				text-align: center;
			}

			img {
				margin-top: 2rem !important;
				width: 100% !important;
			}

		}
	}

	// still got question

	.still-got-question-ctn {
		.h2 {
			font-size: 24px;
			line-height: 25px;
		}

		.tab-ctn {
			.collapsible {
				h3 {
					font-size: 18px;
				}
			}
		}
	}


	.better-func-world-ctn-boost .better-func-world-ctn-inner img {
		width: 100% !important;
		margin-top: 2rem !important;
	}


	// footerer responsiveness



	.footer-section {
		.footer-section-inner {
			.footer-row {
				grid-template-columns: 1fr 1fr;



				.footer-col2 {
					.copyright-sec2 {
						display: none;
					}

				}


				.footer-col3 {
					.copyright-sec3 {
						margin-top: 2rem;

						.copyright-sec2-join-us {
							display: block;
							margin-top: 3rem;

							p {
								color: beige;
							}
						}
					}

					width: 180%;

				}
			}
		}


	}

	// accossries 


	.accessories-hero-section {
		padding-top: 7rem;
		padding-bottom: 7rem;
		background-image: url("./access-hero.png");
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		width: 100% !important;
	}



	.accessories-product-ctn {
		padding-top: 0rem;

		.h1 {
			font-size: 36px;
		}

		.accessories-product-ctn-inner {
			grid-template-columns: 1fr;
		}
	}


	// our story responsiveness

	.two-column-row {
		.two-column-row-heading {
			font-size: 24px;
			width: 100%;

		}

		.two-column-row-inner {
			display: grid;
			grid-template-columns: 1fr;

			.row1 {
				display: flex;
				flex-direction: column;
			}

			.row2 {
				display: flex;
				flex-direction: column-reverse;
			}

			.row3 {
				display: flex;
				flex-direction: column;
			}

			.row4 {
				display: flex;
				flex-direction: column-reverse;
			}

			.row5 {
				display: flex;
				flex-direction: column;
			}

		}

	}


	// we beleive


	.we-believe-ctn {
		margin-top: 0rem;
		padding-top: 2rem;

		.we-believe-ctn-inner {
			grid-template-columns: 1fr;
			margin-top: 2rem;

		}

	}

	// ceo words
	.words-from-ceo-ctn {
		.words-from-ceo-ctn-inner {
			grid-template-columns: 1fr;
			text-align: center;

			.ceo-img {

				img {

					width: 100%;
				}
			}

			.ceo-words {
				margin-top: 1rem;

				p {
					width: 100%;
				}
			}

		}
	}


	// fam


	.our-mode-fam-ctn {
		padding-top: 2rem;

		.our-mode-fam-ctn-inner {

			grid-template-columns: 1fr;

			.our-mode-fam-right {

				img {
					width: 100%;
				}
			}
		}

	}


	.tiktok-section-ctn {
		.modecoldbrew {
			margin-top: 0px;
		}

	}



	// single product



	.single-product-desc-ctn {
		.single-product-desc-ctn-inner {
			grid-template-columns: 1fr;

			.single-product-img {
				img {
					width: 100%;
				}
			}

			.single-product-desc {
				padding-right: 0px;

				p {
					text-align: left;
				}

				.h2 {
					text-align: left;
				}

			}
		}
	}

	// product grid

	.view-more-ctn {


		.view-more-ctn-inner {
			.prodcuts-ctn {
				grid-template-columns: 1fr;


			}
		}
	}

	// single product res

	.product-ctn {
		.product-ctn-inner {

			.product-details-ctn {

				.product-tit {

					.heading {
						.h2 {
							text-align: left;
							word-break: inherit;
						}
					}
				}

				.serving {
					.body-copy-bold {
						text-align: left;
					}

					.three-button-ctn {

						.button1,
						.button1,
						.button3 {
							height: auto;
						}

					}
				}

			}

		}

	}

	// expresso martini

	.expresso-ctn .expresso-ctn-inner {
		grid-template-columns: 1fr;
	}

	.expresso-ctn .expresso-ctn-inner .left-img img {
		width: 100%;
	}

	.expresso-ctn .expresso-ctn-inner .how-to-make-details .bottom {
		width: 100%;
	}

	.expresso-ctn .expresso-ctn-inner .how-to-make-details .bottom .social-icons img {
		margin-right: 20px;
	}

	.how-to-make-section .inner-section .h2 {
		border-bottom: 2px solid #FFF7DE;
	}

	.how-to-make-section .inner-section .how-to-make-list p {
		text-align: left;
	}

	.you-may-also-like-ctn .you-may-also-like-ctn-inner {
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;

		.product-like {
			text-align: left;
		}
	}

	.you-may-also-like-ctn .you-may-also-like-ctn-inner .product-like img {
		width: 100%;
	}

	.you-may-also-like-ctn .you-may-also-like-ctn-inner .product-like .clock-time .clock img {
		width: 18px;
	}


	//   menu resp


	#menu {
		width: auto;
		height: 100vh;
	}

	#menu #menu-content ul {
		list-style: none;

		li {
			margin-top: 2rem;
			font-size: 26px;
			text-decoration: none;

			a {
				color: black;
				text-decoration: none;

			}

		}

	}


}

// how it works

.how-it-works-ctn {
	background-image: url('./save-bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 4rem;

	.how-it-works-ctn-inner {
		.row1 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2rem;

			.row1-left-img {
				img {
					width: 80%;
				}
			}

			.row1-right {
				.box {
					text-align: left;
					padding: 2rem;
					background-color: #FFF7DE;
				}


			}
		}

	}



}