/*our story hero section   */
/*accessories  */
/* single product */
.section-width {
  width: 1250px !important;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}

.h1 {
  font-family: "PPAgrandir-WideHeavy";
  size: 64px;
  line-height: 68px;
  font-weight: 800;
  word-break: break-word;
}

h1 {
  font-family: "PPAgrandir-WideHeavy";
  size: 64px;
  line-height: 68px;
  font-weight: 800;
  word-break: break-word;
}

.h2 {
  font-size: 36px;
  font-family: "PPAgrandir-WideHeavy";
  line-height: 38px;
  word-break: break-word;
}

h2 {
  font-size: 36px;
  font-family: "PPAgrandir-WideHeavy";
  line-height: 38px;
  word-break: break-word;
}

.h3 {
  font-size: 24px;
  font-family: "PPAgrandir-WideHeavy";
  line-height: 26px;
  word-break: break-word;
}

h3 {
  font-size: 24px;
  font-family: "PPAgrandir-WideHeavy";
  line-height: 26px;
  word-break: break-word;
}

.btn-yellow-hover:hover {
  background-color: #FFD500;
  opacity: 0.6;
}

.get-started-btn-black:hover {
  background-color: #000000;
  opacity: 0.6;
  color: white;
}

button.add-to-cart:hover {
  opacity: 0.6;
}

button.add-to-cart-boost:hover {
  background: yellow;
  opacity: 0.6;
}

button.one-time-purchase-btn:hover {
  background-color: black;
  opacity: 0.6;
}

button.black-btn:hover {
  background-color: #000000;
  opacity: 0.6;
}

button.start-subs:hover {
  opacity: 0.6;
}

.button.be-the-part:hover {
  opacity: 0.6;
}

.explore-more-btn-pink:hover {
  background: #FFC9E2;
  opacity: 0.6;
}

.check-out-btn-pink:hover {
  background: #FFC9E2;
  opacity: 0.6;
}

button.add-to-cart--btn-black:hover {
  background-color: black;
  opacity: 0.6;
}

.hero-button:hover {
  background: #FFF8A3;
  opacity: 0.6;
}

button.shop-now:hover {
  background-color: #FFF7DE;
  opacity: 0.6;
}

.announcment-ctn {
  background-color: #000000;
  height: 50px;
  width: 100vw;
}
.announcment-ctn .announcment-ctn-inner p {
  color: white;
}

.nav-bar-section {
  background-color: white;
  width: 100vw;
}
.nav-bar-section .navbar-section-inner {
  padding: 2rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar-section .navbar-section-inner .cart-section .cart-section-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar-section .navbar-section-inner .cart-section .cart-section-inner img {
  margin-left: 8px;
}
.nav-bar-section .navbar-section-inner .logo-ctn img {
  width: 100%;
}

#icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  /* Add some styling for the icon */
}

#menu {
  position: absolute;
  /* Add some more styling for the menu container */
  width: 510px;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  cursor: pointer;
  padding: 4rem;
  height: 100vh !important;
}

#menu {
  width: auto;
  height: 100vh;
  background-color: white;
}

#menu #menu-content {
  background-color: white;
}

#menu #menu-content ul {
  list-style: none;
}
#menu #menu-content ul li {
  margin-top: 2rem;
  font-size: 26px;
}

#menu.active {
  transform: translateX(0);
}

#close-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

#menu #menu-content ul {
  list-style: none;
}
#menu #menu-content ul li {
  margin-top: 3rem;
  font-size: 36px;
  line-height: 38px;
  font-family: "PPAgrandir-WideHeavy";
  text-decoration: none;
  color: black;
}

#menu #menu-content ul li a {
  color: #000000;
  text-decoration: none;
}

#menu #menu-content ul li a:hover {
  color: #FFC9E2;
}

.hero-section {
  background-image: url("./Hero-section.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.hero-section .hero-section-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1250px;
  padding-left: 50px;
  padding-right: 50px;
}
.hero-section .hero-section-inner h1 {
  color: white;
  text-align: center;
  margin: auto;
  font-size: 60px;
}

.sponser-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff7de;
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.sponser-section .sponser-section-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sponser-section .sponser-section-inner h2 {
  font-size: 40px;
}
.sponser-section .sponser-section-inner .logo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
  width: 75vw;
}
.sponser-section .sponser-section-inner .logo-section img {
  width: 100%;
}

.best-seller-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 100vw;
}
.best-seller-ctn .best-seller-ctn-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-bottom: 4rem;
}
.best-seller-ctn .best-seller-ctn-inner .product-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.best-seller-ctn .best-seller-ctn-inner .product-ctn .procut1 {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}
.best-seller-ctn .best-seller-ctn-inner .product-ctn .procut1 .prodcuct-img img {
  width: 100%;
}
.best-seller-ctn .best-seller-ctn-inner .product-ctn .procut1 .product-price-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smart-cup-coffee-ctn {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffc9e2;
  width: 100vw;
  text-align: center;
}
.smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner h2 {
  width: 60%;
}
.smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner p {
  width: 85%;
}
.smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner .coffe-qualities-list1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
}
.smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner .coffe-qualities-list1 .quality1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner .coffe-qualities-list1 .quality1 img {
  width: 124px;
}

.our-mission-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #03594c;
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}
.our-mission-ctn .our-mission-ctn-inner h2 {
  color: white;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-intro {
  color: white;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 4rem;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-left-col {
  width: 50%;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-right-col {
  width: 50%;
  text-align: left;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-right-col h3 {
  color: white;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-right-col p {
  color: white;
  text-align: left;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-right-col .our-mission-section-right-col-list .list-item {
  display: flex;
  align-items: center;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-right-col .our-mission-section-right-col-list .list-item img {
  margin-right: 2rem;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 6rem;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-left-col {
  width: 50%;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-right-col {
  width: 50%;
  text-align: left;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-right-col h3 {
  color: white;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-right-col p {
  color: white;
  text-align: left;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-right-col .our-mission-section-right-col-list .list-item {
  display: flex;
  align-items: center;
}
.our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-right-col .our-mission-section-right-col-list .list-item img {
  margin-right: 2rem;
}

.coffee-smarter-ctn {
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.coffee-smarter-ctn .coffee-smarter-ctn-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.coffee-smarter-ctn .coffee-smarter-ctn-inner h2 {
  color: white;
}
.coffee-smarter-ctn .coffee-smarter-ctn-inner .coffee-desc {
  color: white;
}
.coffee-smarter-ctn .coffee-smarter-ctn-inner table {
  border-collapse: separate;
  border-spacing: 0 30px;
}
.coffee-smarter-ctn .coffee-smarter-ctn-inner table tr td:nth-child(1) {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.coffee-smarter-ctn .coffee-smarter-ctn-inner table tr td:nth-last-child(1) {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

table:not([class]) td {
  padding: 0px !important;
  border: none !important;
}
table:not([class]) th {
  padding: 0px !important;
  border: none !important;
}

.table tr td p {
  font-size: 13px;
}

.what-other-says-ctn {
  width: 100vw;
  background: url("./what-other-says-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.what-other-says-ctn h2 {
  color: white;
}
.what-other-says-ctn .what-other-says-ctn-inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.what-other-says-ctn .what-other-says-ctn-inner .what-other-say-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.what-other-says-ctn .what-other-says-ctn-inner .what-other-say-left p {
  text-align: left;
}
.what-other-says-ctn .what-other-says-ctn-inner .what-other-say-left .comment-writer {
  margin-top: 3rem;
}
.what-other-says-ctn .what-other-says-ctn-inner .what-other-say-left .verified {
  padding: 0;
  margin-top: -1rem;
}
.what-other-says-ctn .what-other-says-ctn-inner .what-other-say-left .testimonials {
  width: 370px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 16px;
  background-color: white;
  padding: 3rem;
  text-align: left;
}
.what-other-says-ctn .what-other-says-ctn-inner .what-other-say-right img {
  width: 100%;
}

.figure-your-mode-ctn {
  width: 100vw;
  background-color: #fff7de;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}
.figure-your-mode-ctn .figure-your-mode-ctn-inner .fig-your-mode-video {
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-align: center;
}
.figure-your-mode-ctn .figure-your-mode-ctn-inner .fig-your-mode-video img {
  width: 100%;
}

.our-story-ctn {
  background-color: #03594c;
  padding-top: 4rem;
  padding-bottom: 3rem;
  width: 100vw;
  text-align: center;
}
.our-story-ctn h2 {
  color: white;
}
.our-story-ctn .our-story-ctn-inner {
  margin: auto;
  display: grid;
  grid-template-columns: 40% 60%;
  padding-top: 3rem;
  grid-gap: 3rem;
}
.our-story-ctn .our-story-ctn-inner .our-story-info {
  background-color: #fff7de;
  height: 510px;
  border-radius: 30px;
  padding: 3rem;
}
.our-story-ctn .our-story-ctn-inner .our-story-info p {
  text-align: left;
}
.our-story-ctn .our-story-ctn-inner .our-story-img img {
  width: 97%;
}

.get-inspired-ctn {
  background-color: #5a392d;
  padding-top: 2rem;
  padding-bottom: 6rem;
  width: 100vw;
  text-align: center;
}
.get-inspired-ctn h2 {
  color: #fff7de;
}
.get-inspired-ctn p {
  color: #fff7de;
}
.get-inspired-ctn .get-inspired-ctn-inner {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
}
.get-inspired-ctn .get-inspired-ctn-inner .racepes1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.get-inspired-ctn .get-inspired-ctn-inner .racepes1 img {
  width: 90%;
}
.get-inspired-ctn .get-inspired-ctn-inner .racepes1 h4 {
  text-align: left;
  color: white;
}
.get-inspired-ctn .get-inspired-ctn-inner .racepes1 p {
  text-align: left;
}

.better-func-world-ctn {
  background-color: #000000;
  padding-top: 3rem;
  padding-bottom: 6rem;
  width: 100vw;
}
.better-func-world-ctn .better-func-world-ctn-inner {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.better-func-world-ctn .better-func-world-ctn-inner h2 {
  color: #fff7de;
}
.better-func-world-ctn .better-func-world-ctn-inner p {
  color: #fff7de;
}
.better-func-world-ctn .better-func-world-ctn-inner img {
  margin-top: 5rem;
}

.tiktok-section-ctn {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 6rem;
  width: 100vw;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 6rem;
  width: 100vw;
}
.tiktok-section-ctn .modecoldbrew {
  margin-top: -2rem;
  margin-top: -2rem;
}
.tiktok-section-ctn .tiktok-section-ctn-inner {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
}
.tiktok-section-ctn .tiktok-section-ctn-inner .tik1 img {
  width: 100%;
}
.tiktok-section-ctn .tiktok-section-ctn-inner .tik2 img {
  width: 100%;
}
.tiktok-section-ctn .tiktok-section-ctn-inner .tik3 img {
  width: 100%;
}

.footer-section {
  background-color: #03594C;
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer-section .footer-section-inner {
  width: 90vw;
  margin: auto;
}
.footer-section .footer-section-inner .footer-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-section .footer-section-inner .footer-row .footer-col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-section .footer-section-inner .footer-row .footer-col1 .copyright-sec1 #language {
  color: beige;
  background: transparent;
  font-size: 16px;
  border: none;
  width: 70px;
}
.footer-section .footer-section-inner .footer-row .footer-col1 .copyright-sec1 #currency {
  color: beige;
  background: transparent;
  font-size: 16px;
  border: none;
  width: 70px;
}
.footer-section .footer-section-inner .footer-row .footer-col1 h4 {
  color: beige;
}
.footer-section .footer-section-inner .footer-row .footer-col1 ul {
  list-style: none;
  padding: 0px;
}
.footer-section .footer-section-inner .footer-row .footer-col1 ul li {
  color: beige;
  margin-top: 1rem;
  font-family: "MatterMono-Regular";
}
.footer-section .footer-section-inner .footer-row .footer-col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-section .footer-section-inner .footer-row .footer-col2 .copyright-sec2 {
  text-align: left;
  padding-top: 2rem;
}
.footer-section .footer-section-inner .footer-row .footer-col2 .copyright-sec2 p {
  color: beige;
  text-align: left;
}
.footer-section .footer-section-inner .footer-row .footer-col2 h4 {
  color: beige;
}
.footer-section .footer-section-inner .footer-row .footer-col2 ul {
  list-style: none;
  padding: 0px;
}
.footer-section .footer-section-inner .footer-row .footer-col2 ul li {
  color: beige;
  margin-top: 1rem;
  font-family: "MatterMono-Regular";
}
.footer-section .footer-section-inner .footer-row .footer-col3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-section .footer-section-inner .footer-row .footer-col3 .copyright-sec3 {
  text-align: right;
}
.footer-section .footer-section-inner .footer-row .footer-col3 .copyright-sec3 .copyright-sec2-join-us {
  display: none;
}
.footer-section .footer-section-inner .footer-row .footer-col3 .copyright-sec3 img {
  margin-right: 12px;
}
.footer-section .footer-section-inner .footer-row .footer-col3 h4 {
  color: beige;
}
.footer-section .footer-section-inner .footer-row .footer-col3 p {
  color: beige;
  text-align: left;
}
.footer-section .footer-section-inner .footer-row .footer-col3 input {
  padding: 1.5rem;
  border-radius: 30px;
  border: 1px solid beige;
  background-color: transparent;
  color: beige;
  width: 90%;
  margin-top: 1rem;
}
.footer-section .footer-section-inner .footer-row .footer-col3 input::-moz-placeholder {
  color: beige;
  font-family: "MatterMono-Regular";
}
.footer-section .footer-section-inner .footer-row .footer-col3 input:-ms-input-placeholder {
  color: beige;
  font-family: "MatterMono-Regular";
}
.footer-section .footer-section-inner .footer-row .footer-col3 input::placeholder {
  color: beige;
  font-family: "MatterMono-Regular";
}

.ourstory-hero-section {
  background: url("./our-story-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.ourstory-hero-section h2 {
  color: white;
}

.two-column-row {
  background-color: beige;
  width: 100vw;
}
.two-column-row .two-column-row-heading {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  font-family: "PPAgrandir";
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.two-column-row .two-column-row-inner {
  display: -ms-grid;
  width: 100%;
}
.two-column-row .two-column-row-inner .row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.two-column-row .two-column-row-inner .row1 .row1-col1 img {
  width: 100%;
}
.two-column-row .two-column-row-inner .row1 .row1-col2 p {
  line-height: 44px;
  padding-left: 5rem;
  padding-right: 5rem;
}
.two-column-row .two-column-row-inner .row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.two-column-row .two-column-row-inner .row2 .row2-col1 p {
  line-height: 44px;
  padding-left: 5rem;
  padding-right: 5rem;
}
.two-column-row .two-column-row-inner .row2 .row2-col2 img {
  width: 100%;
}
.two-column-row .two-column-row-inner .row3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.two-column-row .two-column-row-inner .row3 .row3-col1 img {
  width: 100%;
}
.two-column-row .two-column-row-inner .row3 .row3-col2 p {
  line-height: 44px;
  padding-left: 5rem;
  padding-right: 5rem;
}
.two-column-row .two-column-row-inner .row4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.two-column-row .two-column-row-inner .row4 .row4-col1 p {
  line-height: 44px !important;
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
.two-column-row .two-column-row-inner .row4 .row4-col2 img {
  width: 100%;
}
.two-column-row .two-column-row-inner .row5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.two-column-row .two-column-row-inner .row5 .row5-col1 img {
  width: 100%;
}
.two-column-row .two-column-row-inner .row5 .row5-col2 p {
  line-height: 44px;
  padding-left: 5rem;
  padding-right: 5rem;
}

.we-believe-ctn {
  background-color: #fff7de;
  width: 100vw;
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.we-believe-ctn p {
  width: 70%;
  margin: auto;
}
.we-believe-ctn .we-believe-ctn-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  margin: auto;
  margin-top: 8rem;
}
.we-believe-ctn .we-believe-ctn-inner .wellbeing .Well {
  font-family: "PPAgrandir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.we-believe-ctn .we-believe-ctn-inner .balance .bal {
  font-family: "PPAgrandir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.we-believe-ctn .we-believe-ctn-inner .find-our-mode .find-mode {
  font-family: "PPAgrandir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.words-from-ceo-ctn {
  background-color: #65b8c7;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100vw;
}
.words-from-ceo-ctn .words-from-ceo-ctn-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  grid-gap: 3rem;
}
.words-from-ceo-ctn .words-from-ceo-ctn-inner .ceo-words {
  margin-top: 6rem;
}
.words-from-ceo-ctn .words-from-ceo-ctn-inner .ceo-words p {
  width: 80%;
}

.our-mode-fam-ctn {
  background-color: #ffc9de;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100vw;
}
.our-mode-fam-ctn .our-mode-fam-ctn-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}
.our-mode-fam-ctn .our-mode-fam-ctn-inner .our-mode-fam-left {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accessories-hero-section {
  width: 100vw;
  padding: 0px;
}
.accessories-hero-section img {
  width: 100%;
}

.accessories-product-ctn {
  width: 100vw;
  text-align: center;
  padding-top: 3rem;
}
.accessories-product-ctn .h1 {
  font-size: 64px;
}
.accessories-product-ctn .accessories-product-ctn-inner {
  padding-top: 2rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  padding-bottom: 3rem;
  row-gap: 10rem;
  padding-bottom: 16rem;
}
.accessories-product-ctn .accessories-product-ctn-inner .accessories-single-product-ctn .accessories-product-img img {
  width: 100%;
}
.accessories-product-ctn .accessories-product-ctn-inner .accessories-single-product-ctn .title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accessories-product-ctn .accessories-product-ctn-inner .accessories-single-product-ctn .title-price .title .h3 {
  font-size: 18px !important;
  line-height: 19px;
  font-family: "PPAgrandir-WideHeavy" !important;
}

.single-product-desc-ctn {
  width: 100vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.single-product-desc-ctn .single-product-desc-ctn-inner {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.single-product-desc-ctn .single-product-desc-ctn-inner .single-product-img img {
  width: 90%;
}
.single-product-desc-ctn .single-product-desc-ctn-inner .single-product-desc {
  padding-right: 7rem;
}

.view-more-ctn {
  width: 100vw;
  padding-bottom: 3rem;
}
.view-more-ctn .view-more-ctn-inner {
  margin: auto;
}
.view-more-ctn .view-more-ctn-inner .prodcuts-ctn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.view-more-ctn .view-more-ctn-inner .prodcuts-ctn .product .product-img img {
  width: 100%;
}
.view-more-ctn .view-more-ctn-inner .prodcuts-ctn .price-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view-more-ctn .view-more-ctn-inner .prodcuts-ctn .price-title .heading p {
  font-family: "PPAgrandir";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
}

.coffee-but-smarter {
  background: url("./p2-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  width: 100vw;
}
.coffee-but-smarter .coffee-but-smarter-inner {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 67% 33%;
  grid-gap: 2rem;
  margin-top: 4rem;
}
.coffee-but-smarter .coffee-but-smarter-inner .two-section-column {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
}
.coffee-but-smarter .coffee-but-smarter-inner .two-section-column .section1 .func-benefits {
  text-align: left;
}
.coffee-but-smarter .coffee-but-smarter-inner .two-section-column .section1 .cold-brew {
  text-align: left;
}
.coffee-but-smarter .coffee-but-smarter-inner .two-section-column .section2 {
  margin-top: 8rem;
}
.coffee-but-smarter .coffee-but-smarter-inner .single-section-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.coffee-but-smarter .coffee-but-smarter-inner .single-section-column .smooth-taste {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .h1 {
    font-family: "PPAgrandir";
    size: 36px;
    line-height: 38px;
    font-weight: 800;
  }
  .h2 {
    font-size: 24px;
    text-align: center;
    font-family: "PPAgrandir";
    line-height: 38px;
  }
  .h3 {
    font-size: 24px;
    font-family: "PPAgrandir";
    line-height: 26px;
  }
  p {
    text-align: center;
    font-family: "MatterMono-reg";
    font-size: 16px;
    line-height: 20px;
  }
  .body-copy-bold {
    font-family: "MatterMonot-bold";
    font-weight: 700;
    font-size: 18px;
    color: #000000;
  }
  .h4 {
    font-size: 18px;
    line-height: 19px;
  }
  .h6 {
    font-size: 14px;
    line-height: 18px;
  }
  .button-text-mob {
    font-size: 14px;
    line-height: 18px;
  }
  .nav-bar-section {
    width: 100vw;
  }
  .nav-bar-section .navbar-section-inner {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    width: 85vw;
  }
  .nav-bar-section .navbar-section-inner .logo-ctn img {
    width: 100%;
  }
  .nav-bar-section .navbar-section-inner .cart-section .cart-section-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav-bar-section .navbar-section-inner .cart-section .cart-section-inner img:nth-child(2) {
    display: none;
  }
  .nav-bar-section .navbar-section-inner .cart-section .cart-section-inner img:nth-child(1) {
    display: none;
  }
  .announcment-ctn {
    width: 100%;
  }
  .announcment-ctn .announcment-ctn-inner p {
    color: white;
  }
  .hero-section {
    background-image: url("./Hero-section.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .hero-section .hero-section-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .hero-section .hero-section-inner h1 {
    color: white;
    text-align: center;
    margin: auto;
    font-size: 30px;
    line-height: 38px;
  }
  .hero-section .hero-section-inner .hero-button {
    padding: 15px 22px 16px 22px;
    font-size: 14px;
    line-height: 18px;
    margin-top: 1rem;
    height: 50px;
  }
  .sponser-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFF7DE;
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .sponser-section .sponser-section-inner h2 {
    font-size: 18px;
  }
  .sponser-section .sponser-section-inner .logo-section {
    height: 20vh;
  }
  .sponser-section .sponser-section-inner .logo-section img {
    width: 80%;
  }
  .best-seller-ctn {
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 100vw;
  }
  .best-seller-ctn .best-seller-ctn-inner {
    padding-bottom: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .best-seller-ctn .best-seller-ctn-inner .product-ctn {
    display: grid;
    grid-template-columns: auto auto;
    width: 100vw;
    grid-gap: 10px;
    margin-top: 2rem;
    padding-top: 0px;
  }
  .best-seller-ctn .best-seller-ctn-inner .product-ctn .procut1 .prodcuct-img img {
    width: 100%;
  }
  .best-seller-ctn .best-seller-ctn-inner .product-ctn .procut1 .product-price-ctn {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .best-seller-ctn .best-seller-ctn-inner .product-ctn .procut1 .product-price-ctn .product-title h4 {
    font-size: 14px;
    text-align: left;
  }
  .best-seller-ctn .best-seller-ctn-inner .product-ctn .procut1 .product-price-ctn .product-price p {
    font-size: 14px;
    text-align: left;
  }
  .best-seller-ctn .best-seller-ctn-inner .product-ctn .procut1 .add-to-cart--btn-black {
    font-size: 14px;
    line-height: 18px;
    height: 60px;
    padding: 15px 22px;
  }
  .best-seller-ctn .best-seller-ctn-inner h2 {
    font-size: 18px;
  }
  .smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner {
    width: 90vw;
  }
  .smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner h2 {
    font-size: 24px;
    line-height: 26px;
    width: 100%;
  }
  .smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner p {
    width: 100%;
  }
  .smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner .coffe-qualities-list1 {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    width: 90vw;
    margin-top: 2rem;
  }
  .smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner .coffe-qualities-list1 .quality1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner .coffe-qualities-list1 .quality1 img {
    width: 90px;
  }
  .smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner .coffe-qualities-list1 .quality1 .coffee-title {
    font-size: 18px;
    line-height: 19px;
  }
  .smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner .coffe-qualities-list1 .quality1 p {
    font-size: 16px;
  }
  .smart-cup-coffee-ctn .smart-cup-coffee-ctn-inner .get-started-btn-black {
    font-size: 14px;
    line-height: 18px;
    height: 60px;
    padding: 15px 22px;
    border: none;
  }
  .our-mission-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #03594C;
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .our-mission-ctn .our-mission-ctn-inner {
    width: 90vw;
  }
  .our-mission-ctn .our-mission-ctn-inner h2 {
    font-size: 18px;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-intro {
    font-size: 16px;
    line-height: 20px;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 {
    display: grid;
    grid-template-columns: auto;
    padding-top: 4rem;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-left-col {
    width: 100%;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-left-col img {
    width: 100%;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-right-col {
    width: 100%;
    text-align: center;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-right-col img {
    width: 100%;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-right-col h3 {
    color: white;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-right-col p {
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-right-col .our-mission-section-right-col-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-right-col .our-mission-section-right-col-list .list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-right-col .our-mission-section-right-col-list .list-item img {
    width: 92px;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section1 .our-mission-section1-right-col .shop-now {
    font-size: 14px;
    line-height: 18px;
    padding: 15px 22px;
    border: none;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 4rem;
    grid-auto-flow: dense;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-left-col {
    width: 100%;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-left-col img {
    width: 100%;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-right-col {
    width: 100%;
    text-align: center;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-right-col img {
    width: 100%;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-right-col h3 {
    color: white;
    font-size: 18px;
    line-height: 19px;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-right-col p {
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-right-col .our-mission-section-right-col-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-right-col .our-mission-section-right-col-list .list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-right-col .our-mission-section-right-col-list .list-item img {
    width: 92px;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-right-col .our-mission-section-right-col-list .list-item p {
    text-align: center;
  }
  .our-mission-ctn .our-mission-ctn-inner .our-mission-ctn-inner-section2 .our-mission-section1-right-col .shop-now {
    font-size: 14px;
    line-height: 18px;
    padding: 15px 22px;
    border: none;
  }
  .section-width {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .coffee-smarter-ctn .coffee-smarter-ctn-inner {
    padding: 0px !important;
  }
  table tbody tr td .body-copy-bold {
    font-size: 13px !important;
  }
  table tbody tr td img {
    width: 18px;
  }
  .what-other-says-ctn .what-other-says-ctn-inner {
    flex-direction: column-reverse;
  }
  .what-other-says-ctn .what-other-says-ctn-inner .what-other-say-left .testimonials {
    width: 100%;
    margin-top: -3rem;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .our-story-ctn .our-story-ctn-inner {
    grid-template-columns: 1fr;
    padding-top: 0rem;
  }
  .our-story-ctn .our-story-ctn-inner .our-story-info {
    height: auto;
    background: none;
    padding: 0px;
  }
  .our-story-ctn .our-story-ctn-inner .our-story-info p {
    color: white;
    text-align: center;
  }
  .get-inspired-ctn .get-inspired-ctn-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
  .get-inspired-ctn .get-inspired-ctn-inner .racepes1 h4 {
    color: #FFF7DE;
  }
  .get-inspired-ctn .get-inspired-ctn-inner .racepes1 p {
    margin-top: -1rem;
  }
  .better-func-world-ctn .better-func-world-ctn-inner img {
    width: 100%;
  }
}
.swiper {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.swiper-button-prev,
.swiper-button-next {
  color: #FFF7DE;
  font-size: 10px !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 700px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 100px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: beige;
  font-size: 30px !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 30px !important;
  color: beige;
}

.slider-swiper {
  display: none;
}

@media (max-width: 600px) {
  .slider-swiper {
    display: block;
  }
  .swiper-slide {
    background-color: white;
    border-radius: 30px;
    width: 100% !important;
  }
  .swiper-pagination-bullet {
    background: gray;
  }
  .swiper-pagination-bullet-active {
    background: white;
  }
  .product-ctn {
    width: 100vw;
  }
  .product-ctn .product-ctn-inner {
    display: grid;
    grid-template-columns: 1fr;
  }
  .product-ctn .product-ctn-inner .product-img-ctn img {
    width: 100%;
  }
  .product-ctn .product-ctn-inner .product-details-ctn .reviws-and-price .reviews .stars img {
    width: 16px;
  }
  .product-ctn .product-ctn-inner .product-details-ctn .reviws-and-price .reviews .reviews-count p {
    font-size: 16px;
  }
  .product-ctn .product-ctn-inner .product-details-ctn .reviws-and-price .price p {
    font-size: 16px;
  }
  .product-ctn .product-ctn-inner .product-details-ctn .product-tit .h2 {
    font-size: 24px;
    line-height: 25px;
  }
  .product-ctn .product-ctn-inner .product-details-ctn .product-desc p {
    font-size: 16px;
    text-align: left;
  }
  .product-ctn .product-ctn-inner .product-details-ctn .what-mode .h3 {
    font-size: 18px;
    line-height: 18px;
  }
  .product-ctn .product-ctn-inner .product-details-ctn .how-much .h3 {
    font-size: 18px;
    line-height: 18px;
  }
  .product-ctn .product-ctn-inner .product-details-ctn .two-button-ctn .button1 .white-btn {
    font-size: 14px;
    line-height: 18px;
  }
  .product-ctn .product-ctn-inner .product-details-ctn .feature-list {
    display: none;
  }
  .our-customers-ctn .h2 {
    font-size: 24px;
    line-height: 25px;
  }
  .our-customers-ctn .our-customer-ctn-inner {
    flex-direction: column;
  }
  .our-customers-ctn .our-customer-ctn-inner .reviews {
    height: auto;
    width: auto;
  }
  .our-customers-ctn .our-customer-ctn-inner .reviews .review-comment p {
    text-align: left;
  }
  .our-customers-ctn .our-customer-ctn-inner .reviews .name-img .review-writer p {
    text-align: left !important;
  }
  .good-vibes-ctn .h2 {
    font-size: 24px;
    line-height: 25px;
  }
  .good-vibes-ctn .good-vibes-ctn-inner {
    grid-template-columns: 1fr;
  }
  .good-vibes-ctn .good-vibes-ctn-inner .two-section-column {
    display: flex;
    flex-direction: column-reverse;
  }
  .good-vibes-ctn .good-vibes-ctn-inner .two-section-column .section1 .func-benefits {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .good-vibes-ctn .good-vibes-ctn-inner .two-section-column .section1 .func-benefits .func-desc p {
    text-align: center;
  }
  .good-vibes-ctn .good-vibes-ctn-inner .two-section-column .section1 .cold-brew {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .good-vibes-ctn .good-vibes-ctn-inner .two-section-column .section2 {
    margin-top: 0;
  }
  .good-vibes-ctn .good-vibes-ctn-inner .two-section-column .section2 img {
    width: 100%;
  }
  .good-vibes-ctn .good-vibes-ctn-inner .single-section-column .smooth-taste {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .good-vibes-ctn .good-vibes-ctn-inner .single-section-column .natural {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ingredients-ctn .h2 {
    font-size: 24px;
    line-height: 25px;
  }
  .ingredients-ctn .ingredients-ctn-inner {
    grid-template-columns: 1fr;
  }
  .ingredients-ctn .ingredients-ctn-inner .ingredients-left-img img {
    width: 100%;
  }
  .ingredients-ctn .ingredients-ctn-inner .ing-tabs .ing-tabs-inner .ing-two-section .img-info-section {
    width: 70%;
  }
  .ingredients-ctn .ingredients-ctn-inner .ing-tabs .ing-tabs-inner .ing-two-section .img-info-section .tab-image {
    margin-right: 20px;
  }
  .ingredients-ctn .ingredients-ctn-inner .ing-tabs .ing-tabs-inner .ing-two-section .img-info-section .name-and-weight .h3 {
    font-size: 18px;
    line-height: 18px;
  }
  .bitterness-and-acid-ctn {
    padding-top: 6rem;
  }
  .bitterness-and-acid-ctn .h1 {
    width: 100%;
    font-size: 36px;
    line-height: 38px;
  }
  .bitterness-and-acid-ctn .bitterness-and-acid-ctn-inner .logo img {
    width: 100%;
  }
  .community-ctn .h2 {
    font-size: 24px;
    line-height: 25px;
  }
  .community-ctn .our-customer-ctn-inner {
    flex-direction: column;
  }
  .community-ctn .our-customer-ctn-inner .reviews {
    height: auto;
    width: auto;
  }
  .community-ctn .our-customer-ctn-inner .reviews .review-comment p {
    text-align: left;
  }
  .community-ctn .our-customer-ctn-inner .reviews .h4 {
    font-size: 18px;
    line-height: 18px;
  }
  .our-dm-section-ctn {
    padding: 2rem;
  }
  .our-dm-section-ctn .h2 {
    font-size: 24px;
    line-height: 25px;
  }
  .our-dm-section-ctn .our-dm-section-ctn-inner {
    display: none;
  }
  .our-dm-section-ctn .our-dm-section-ctn-inner .slider-swiper .swiper .swiper-wrapper .swiper-slide .row1-col1 {
    border-radius: 30px;
    padding: 2rem;
  }
  .better-func-world-ctn {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .better-func-world-ctn .better-func-world-ctn-inner .h2 {
    font-size: 24px;
    line-height: 25px;
    width: 100%;
  }
  .better-func-world-ctn .better-func-world-ctn-inner p {
    text-align: center;
  }
  .better-func-world-ctn .better-func-world-ctn-inner img {
    margin-top: 2rem !important;
    width: 100% !important;
  }
  .still-got-question-ctn .h2 {
    font-size: 24px;
    line-height: 25px;
  }
  .still-got-question-ctn .tab-ctn .collapsible h3 {
    font-size: 18px;
  }
  .better-func-world-ctn-boost .better-func-world-ctn-inner img {
    width: 100% !important;
    margin-top: 2rem !important;
  }
  .footer-section .footer-section-inner .footer-row {
    grid-template-columns: 1fr 1fr;
  }
  .footer-section .footer-section-inner .footer-row .footer-col2 .copyright-sec2 {
    display: none;
  }
  .footer-section .footer-section-inner .footer-row .footer-col3 {
    width: 180%;
  }
  .footer-section .footer-section-inner .footer-row .footer-col3 .copyright-sec3 {
    margin-top: 2rem;
  }
  .footer-section .footer-section-inner .footer-row .footer-col3 .copyright-sec3 .copyright-sec2-join-us {
    display: block;
    margin-top: 3rem;
  }
  .footer-section .footer-section-inner .footer-row .footer-col3 .copyright-sec3 .copyright-sec2-join-us p {
    color: beige;
  }
  .accessories-hero-section {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-image: url("./access-hero.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100% !important;
  }
  .accessories-product-ctn {
    padding-top: 0rem;
  }
  .accessories-product-ctn .h1 {
    font-size: 36px;
  }
  .accessories-product-ctn .accessories-product-ctn-inner {
    grid-template-columns: 1fr;
  }
  .two-column-row .two-column-row-heading {
    font-size: 24px;
    width: 100%;
  }
  .two-column-row .two-column-row-inner {
    display: grid;
    grid-template-columns: 1fr;
  }
  .two-column-row .two-column-row-inner .row1 {
    display: flex;
    flex-direction: column;
  }
  .two-column-row .two-column-row-inner .row2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .two-column-row .two-column-row-inner .row3 {
    display: flex;
    flex-direction: column;
  }
  .two-column-row .two-column-row-inner .row4 {
    display: flex;
    flex-direction: column-reverse;
  }
  .two-column-row .two-column-row-inner .row5 {
    display: flex;
    flex-direction: column;
  }
  .we-believe-ctn {
    margin-top: 0rem;
    padding-top: 2rem;
  }
  .we-believe-ctn .we-believe-ctn-inner {
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }
  .words-from-ceo-ctn .words-from-ceo-ctn-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .words-from-ceo-ctn .words-from-ceo-ctn-inner .ceo-img img {
    width: 100%;
  }
  .words-from-ceo-ctn .words-from-ceo-ctn-inner .ceo-words {
    margin-top: 1rem;
  }
  .words-from-ceo-ctn .words-from-ceo-ctn-inner .ceo-words p {
    width: 100%;
  }
  .our-mode-fam-ctn {
    padding-top: 2rem;
  }
  .our-mode-fam-ctn .our-mode-fam-ctn-inner {
    grid-template-columns: 1fr;
  }
  .our-mode-fam-ctn .our-mode-fam-ctn-inner .our-mode-fam-right img {
    width: 100%;
  }
  .tiktok-section-ctn .modecoldbrew {
    margin-top: 0px;
  }
  .single-product-desc-ctn .single-product-desc-ctn-inner {
    grid-template-columns: 1fr;
  }
  .single-product-desc-ctn .single-product-desc-ctn-inner .single-product-img img {
    width: 100%;
  }
  .single-product-desc-ctn .single-product-desc-ctn-inner .single-product-desc {
    padding-right: 0px;
  }
  .single-product-desc-ctn .single-product-desc-ctn-inner .single-product-desc p {
    text-align: left;
  }
  .single-product-desc-ctn .single-product-desc-ctn-inner .single-product-desc .h2 {
    text-align: left;
  }
  .view-more-ctn .view-more-ctn-inner .prodcuts-ctn {
    grid-template-columns: 1fr;
  }
  .product-ctn .product-ctn-inner .product-details-ctn .product-tit .heading .h2 {
    text-align: left;
    word-break: inherit;
  }
  .product-ctn .product-ctn-inner .product-details-ctn .serving .body-copy-bold {
    text-align: left;
  }
  .product-ctn .product-ctn-inner .product-details-ctn .serving .three-button-ctn .button1,
.product-ctn .product-ctn-inner .product-details-ctn .serving .three-button-ctn .button1,
.product-ctn .product-ctn-inner .product-details-ctn .serving .three-button-ctn .button3 {
    height: auto;
  }
  .expresso-ctn .expresso-ctn-inner {
    grid-template-columns: 1fr;
  }
  .expresso-ctn .expresso-ctn-inner .left-img img {
    width: 100%;
  }
  .expresso-ctn .expresso-ctn-inner .how-to-make-details .bottom {
    width: 100%;
  }
  .expresso-ctn .expresso-ctn-inner .how-to-make-details .bottom .social-icons img {
    margin-right: 20px;
  }
  .how-to-make-section .inner-section .h2 {
    border-bottom: 2px solid #FFF7DE;
  }
  .how-to-make-section .inner-section .how-to-make-list p {
    text-align: left;
  }
  .you-may-also-like-ctn .you-may-also-like-ctn-inner {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .you-may-also-like-ctn .you-may-also-like-ctn-inner .product-like {
    text-align: left;
  }
  .you-may-also-like-ctn .you-may-also-like-ctn-inner .product-like img {
    width: 100%;
  }
  .you-may-also-like-ctn .you-may-also-like-ctn-inner .product-like .clock-time .clock img {
    width: 18px;
  }
  #menu {
    width: auto;
    height: 100vh;
  }
  #menu #menu-content ul {
    list-style: none;
  }
  #menu #menu-content ul li {
    margin-top: 2rem;
    font-size: 26px;
    text-decoration: none;
  }
  #menu #menu-content ul li a {
    color: black;
    text-decoration: none;
  }
}
.how-it-works-ctn {
  background-image: url("./save-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 10rem;
}
.how-it-works-ctn .how-it-works-ctn-inner .row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
}
.how-it-works-ctn .how-it-works-ctn-inner .row1 .row1-left-img img {
  width: 80%;
}
.how-it-works-ctn .how-it-works-ctn-inner .row1 .row1-right .box {
  text-align: left;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #FFF7DE;
  border-radius: 30px;
}/*# sourceMappingURL=theme.css.map */